/*header*/
#top
{
	width: auto;
	height: 8vw;
	background-color: #374f71;
}

#menu ul li a
{ 
 	text-decoration :none;
 	color: #1e2d4c;
    text-transform: uppercase;
    font-size: 0.7857rem;
    padding: 10px 0;
    white-space: inherit;
    border-top: 2px solid #b6a886;
    font-family: 'Lato', sans-serif;
    font-size: 0.7857rem;
} 

#menu ul li a:hover
{ 
 	color: #b6a886;
}  

#menu ul li
{
	display: inline;
	list-style-type :none;
	text-decoration-color: none;
	display: inline-block;
	text-align: left;
	padding: 0 10px;
}

#link-icon a img
{
	max-width: 5%;
    height: auto;
	float: right;
}
.img-bandeau
{
	max-width: 36%;
    height: auto;
	float: left;
	margin-left: 5vw
}

#menu
{
	display: inline-block;
}

/*vincent(accueil/programme)*/

.contenu  
{ 
	width: 1925px;
	height:700px; 
	background-color: #b6a886; 
	position:relative; 
	left:-10px; 
	top:150px;
}

.bandeau  
{ width: 1925px; 
	height:600px; 
	background-color: #374f71; 
	position:relative; 
	top:50px; 
}

.bandeau p 
{ 
	color:#fff; 
	font-family: 'Lato'; 
	font-size: 16px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 400; 
	line-height: 14px;  
	text-align:left; 
	line-height:20px; 
	position: relative; 
	left:50px; top:50px; 
	margin-right:70px;
}

/* Texte associé à l'image n°2 de la page programme */
.image-texte1 
{
	position:relative; 
	top:40px; 
	left:40px; 
	height:100px; 
	width:1600px;
}

.image-texte1 p 
{
	color:#fff; 
	font-family: 'Lato';
	font-size: 16px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 400; 
	line-height: 14px;  
	text-align:left; 
	line-height:20px; 
	position: relative; 
	left:50px; 
	top:10px;
}
.image-texte1 img 
{width:200px; height:200px; float:left;}


/* Texte associé à l'image n°2 de la page programme */
.image-texte2 {position:relative; top:150px; right:10px; ; height:100px; width:1600px;}
.image-texte2 p {color:#fff; font-family: 'Lato'; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 14px;  text-align:left; line-height:20px; position: relative; left:50px; top:10px;}
.image-texte2 img {width:200px; height:200px; float:right; position:relative; left:90px;}

/* Texte associé à l'image n°3 de la page programme */
.image-texte3 {position:relative; top:250px; left:40px; ; height:100px; width:1600px;}
.image-texte3 p {color:#fff; font-family: 'Lato'; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 14px;  text-align:left; line-height:20px; position: relative; left:50px; top:10px;}
.image-texte3 img {width:200px; height:200px; float:left; position:relative; }

/*live/contact*/

/*=================================================================
	Contact
==================================================================*/


.contact-form-right {
	    float: right;
        margin-right: 500px;
}

.contact-form-right .form-control {
	background-color: transparent;
	border: 1px solid #4e595f;
	height: 38px;
}

.contact-form-right input:hover, 
.contact-form-right textarea:hover,
#contact-submit:hover {
    border-color: #6CB670;
}

#contact-submit {
	border: 1px solid #4e595f;
	padding: 12px 0;
	width: 40%;
	margin: 0;
}

.contact-form textarea.form-control {
    padding: 10px;
    height: 120px;
}

.contact-info-left  {
	    float: left;
        margin-left : 300px;
}

/*=================================================================
	Live
==================================================================*/

#bloc1 {
	float: left;
	width: 700px;
}

#bloc2 {
  	float: right;
	width: 600px;
	height: 300px;
	height: auto
}


#bloc3 {
  	float: left;
	width: 700px;
}

#bloc4 {
  	float: left;
	width: 700px;
}

#bloc5 {
  	float: left;
	width: 700px;
}

/*retour*/

#clo_1R,
#clo_1C,
#clo_1B,
#clo_1L
{
	position: relative;
}
.clo_1R
{
	padding-top: 50px;
}
.clo_1C
{
	bottom: 530px;
	left: 375px;
}
#clo_1B
{
	bottom: 480px;
	left: 225px;
}
.clo_1B
{
	padding-right: 50px;
}
#clo_1L
{
padding-top: 50px;
}
.clo_1L
{
	padding-top: 50px;
}



