body {
	margin: 0;
}

.head h2{
	float:left;
	margin:0;
	margin-left: 300px;
	margin-top:30px;
	margin-bottom:30px;
	
	
}

.head {
	background-color: #19253d;
	color: #fff;
}

.head ul {
	list-style: none;
	margin:0;
	margin-right: 400px;
	float:right;
	margin-top:33px;


}

.head ul li {
	display: table-cell;
	padding-left:80px;
	font-family: 'lato';
	font-weight: bold;
	

}

.head a {
	text-decoration: none;
	color: #fff;
	
}



